<html>
    <head>
        <title>About Sahithya</title> 
        <link rel = "icon" href = "assets/Logo.png" type = "image/x-icon"> 
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="about" class="about-section">
            <div class="container">
            <h2>About Me</h2>
            <div class="blurred-box">
                <img src="assets/Photo.jpeg" alt="Profile Image" class="profile-image">
                <p class="about-description">HI!! I am Sahithya Vallabhaneni, a passionate 
                    computer engineer with a strong dedication to software development.<br> 
                    I worked as a System ENgineer at  Infosys. I really enjoy
                    working with java and Database. I am good at solving problems
                    and paying attention to details. Im passionate about what i do and
                    always eagar to learn new technologies and methodologies to 
                    stay up-to-date in this ever-evolving field.</p>
                <div class="sub-sections">
                    <div class="sub-section">
                    <h3>My Background</h3>
                    <p>I've been into the software world for 2 years! Here you find a list with my
                        educational background. 
                    </p>
                    <ul>
                        <li>
                        <span>Software Engeineering Technology</span>
                        <p>Centennial College, 2023 - currently</p>
                        </li>
                        <li>
                            <span>System Engineer</span>
                            <p>Infosys pvt Ltd, 2021-2023</p>
                            </li>
                        <li>
                        <span>Bachlours in Computer science </span>
                        <p>Bharath institute, 2017-2021</p>
                        </li>
                    </ul>
                    </div>

                    <div class="sub-section">
                    <h3>Skills</h3>
                    <p>In my resume, you'll explore my skills and expertise in various programming languages and technologies.</p>
                    <ul>
                        <li>
                        <span>Agile Methodology</span>
                        </li>
                        <li>
                        <span>Version Control</span>
                        </li>
                        <li>
                        <span>Back-end Development</span>
                        </li>
                        <li>
                        <span>Several programming Languages</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
    
      
    
      
</body>
</html>
