<html>
    <head>
        <title>Sahithya Vallabhaneni</title> 
        <link rel = "icon" href = "assets/Logo.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="home" class="home-section">
            <div class="sub-sections">
            <h1>Welcome to My Portfolio</h1>
            <p class="mission-statement">This is where I showcase my passion and creativity<br> Feel free to explore and get to know me!!</p>
            <div class="sub-sections">
                <div class="sub-section">
                    <h2>About me</h2>
                    <p>On the 'About Me' section!, you'll get to know me better and 
                        learn about my background, skills. 
                        I'll share my journey as a computer engineer 
                        and highlight my experiences and expertise in creating 
                        innovative solutions.</p>
                    <a href="../about" class="btn">About Me</a>
                </div>
                <div class="sub-sections"></div>
                <div class="sub-section">
                    <h2>Projects</h2>
                    <p>This page is like gallary of different projects I've been a part of
                        Explore the variety of work I've done and see what I've been upto!!
                    </p>
                    <p> </p>
                    <a href="../projects/" class="btn">Projects I've worked on</a>
                </div>
                <div class="sub-sections"></div>
                <div class="sub-section">
                    <h2>Services</h2>
                    <p>Curious about the 'Services' I offer? In this section, 
                        you'll find details about the software development services 
                        I provide.</p>
                    <a href="../services/" class="btn">Services I Offer</a>
                </div>
                <div class="sub-sections"></div>
                <div class="sub-section">
                    <h2>Contact</h2>
                    <p>Feel free to reach out through the 'Contact' section! 
                    </p>
                    <a href="../contact/" class="btn">Contact Me</a>
                </div>
            </div>
            </div>
        </section>
        <br></br>
        <br></br>
        
        <%- include('partials/footer.ejs') %>
    </body>
</html>

  


