<html>
    <head>
        <title>Sahithya vallabhaneni projects</title> 
        <link rel = "icon" href = "assets/Logo.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
      <style>
        .sub-section h3 {
            color: black;
        }
    </style>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="project" class="project-section">
            <div class="container">
            <h2>Projects</h2> 
                <p class="project-description">Here you'll find introduction of the projects 
                    I've worked on during my college and at Infosys.
                </p>
                <div class="sub-sections">
                    <div class="sub-section">
                    <h3>APLe</h3>
                    <h4>Acturial profit and loss Eleboration </h4>
                    <p>
                        It is used to clculate the Quarterly profit and loss for a Japanese Bank (Cardif)
                    </p>
                    </div>
                    <div class="sub-section">
                        <h3>Face Recognization</h3>
                        <p>This is a project I worked on 2021 for one of my University classes as well. 
                        The goal of this website was to turn manual attendence system into automatic 
                        by recoginizing face of the students.
                        </p>
                    </div>
                    <div class="sub-section">
                        <h3>Lecture Feedback</h3>
                        <p>This is a project I worked on 2020 for one of my University classes as well. 
                        The goal of this website is to help students to rate the lecture and the professor.
                        They can also review the recored lecture here.
                        </p>
                    </div>
                </div>
            </div>
            <br></br>
            <br></br>
            <br></br>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
</html>